@model CustomerViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
<form method="post">
    <label>Müşteri Adı</label>
    <input type="text" class="form-control" asp-for="CustomerName" />
    <br />
    <label>Çekilmek İstenen Tutar</label>
    <input type="text" class="form-control" asp-for="Amount" />
    <br />
    <button class="btn btn-primary">Para Çek</button>
</form>

</div>